# Unreal Engine 4.10.1

# 無視リスト

.vs/
Binaries/
Build/
Debug/
Intermediate/
Plugins/*/Binaries/
Plugins/*/Intermediate/
Saved/
Tool/*/.vs/
Tool/*/*/x64/
Tool/*/ipch/
Tool/*/Debug/
Tool/*/Release/

# Projects and makefiles
*.cmake
*.mk
*.dsp
*.dsw
*.csproj
*.vcproj
*.vcxproj
*.vcxproj.filters
*.sln
*.ipdb
*.iobj
*.pdb
*.obj
*.lastbuildstate
*.log
*.tlog
*.sdf
*.opensdf
*.xcodeproj
*.xcconfig
*.vsprops
*.vcxproj.user
*.snippet
*.opendb
Makefile
Makefile.*
Settings.settings

# 例外リスト

!Config/*
!Content/*
!Resource/*
!Source/*

!Plugins/*/Resource/*
!Plugins/*/Source/*
!Plugins/*/ThirdParty/*
!Plugins/*/*.uplugin

!Tool/*/*/*.h
!Tool/*/*/*.hpp
!Tool/*/*/*.cpp
!Tool/*/*/*.c
!Tool/*/*/*.vcxproj
!Tool/*/x64/Debug/*.dll
!Tool/*/x64/Debug/*.lib
!Tool/*/x64/Debug/*.exe
!Tool/*/x64/Release/*.dll
!Tool/*/x64/Release/*.lib
!Tool/*/x64/Release/*.exe
!Tool/*/*/Include/*
!Tool/*/*/Lib/*
!Tool/*/*/DLL/*
!Tool/*/*.sln

# C/C++ source files
!*.c
!*.cc
!*.cpp
!*.cpp.template
!*.h
!*.h.template
!*.hpp
!*.inl
!*.inc
!*.lib
!*.dll

# Java source files
!*.java
!*.java.template

# C# source files
!*.cs
!*.cs.template
!*.aspx
!*.resx

# Shader formats
!*.usf
!*.hlsl
!*.glsl

# Text files
!*.txt
!*.md

# Script files
!*.bat
!*.sh
!*.pl
!*.py
!*.js
!*.command

# Content files
!*.uasset
!*.umap

# Texture files
!*.gif
!*.jpg
!*.jpeg
!*.png
!*.tif
!*.tiff
!*.bmp
!*.pict
!*.float
!*.pcx
!*.psd
!*.tga
!*.exr
!*.dds
!*.hdr

# 3D files
!*.3ds
!*.max
!*.wrl
!*.x3dv
!*.x3d
!*.x3db
!*.dxf
!*.stl
!*.pov
!*.inc
!*.dae
!*.fbx
!*.lwo
!*.ply
!*.off
!*.xsi
!*.ac
!*.c3d
!*.bvh
!*.ma
!*.mb

# Other configuration and markup files
!*.ini
!*.json
!*.tps
!*.xml
!*.xaml
!*.uproject
!*.uplugin
!*.html
!*.html.template
!*.css
!*.udn
!*.config
!*.version
!.git*

# Specific names
!README
!AUTHORS
!LICENSE
!FAQ
!VERSION
!ChangeLog

